<template>
  <div>
    <NuxtPage />
  </div>
</template>

<script setup lang="ts">
  useSeoMeta({
    title: 'Nomad Nests: Redefining Work & Travel',
    ogTitle: 'Nomad Nests: Redefining Work & Travel',
    twitterTitle: 'Nomad Nests: Redefining Work & Travel',
    description: 'Nomad Nests is your go-to platform for digital nomad accommodations. Discover stays tailored for remote work, integrated co-working spaces, and vibrant community events in exotic locales.',
    ogDescription: 'Nomad Nests is your go-to platform for digital nomad accommodations. Discover stays tailored for remote work, integrated co-working spaces, and vibrant community events in exotic locales.',
    twitterDescription: 'Nomad Nests is your go-to platform for digital nomad accommodations. Discover stays tailored for remote work, integrated co-working spaces, and vibrant community events in exotic locales.',
    twitterCard: 'Summary',
    ogImage: '/logo.png',
    twitterImage: '/logo.png',
    ogUrl: '/',
    lang: 'en',
  })

  useHead({
    link: [
      {
        rel: 'icon',
        type: 'image/png',
        href: '/logo.png'
      }
    ]
  })
</script>

<style scoped>
  * {
    font-family: 'Roboto', sans-serif;
  }
</style>
