<template>
  <div class="bg-sky-50 py-40" id="features">
    <div class="container mx-auto">
        <div class="flex flex-wrap px-5 md:px-0">
            <div class="md:basis-1/2">
                <h2 class="text-4xl font-bold md:w-2/3">Elevate Your <span class="text-blue-700">Nomadic Lifestyle</span> with Key Amenities</h2>
            </div>
            <div class="md:basis-1/2 mt-5 md:mt-0">
                <p class="text-gray-500 text-lg font-medium text-justify">&nbsp;&nbsp;&nbsp;At <span class="text-blue-700">Nomad Nests</span>, we blend the comforts of home with the necessities of remote work. Experience properties that cater to your professional needs while letting you immerse in local cultures. Rediscover work-life balance in locations designed for the modern traveler.</p>
            </div>
        </div>

        <div class="flex flex-wrap mt-20">
            <div class="sm:basis-1/2 md:basis-1/4 p-5">
                <div class="p-10 h-full text-center bg-white rounded-xl">
                    <Icon name="solar:laptop-broken" class="text-blue-600 text-6xl"/>
                    <h3 class="text-xl font-bold mt-2">Coworking Spaces</h3>
                    <p class="text-gray-500 text-justify font-medium text-sm mt-5">&nbsp;&nbsp;&nbsp;Fully-equipped shared working areas that encourage productivity and collaboration. Each space is designed with digital nomads in mind, ensuring fast Wi-Fi and ample power outlets.</p>
                </div>
            </div>
            <div class="sm:basis-1/2 md:basis-1/4 p-5">
                <div class="p-10 h-full text-center bg-white rounded-xl">
                    <Icon name="lucide:party-popper" class="text-blue-600 text-6xl"/>
                    <h3 class="text-xl font-bold mt-2">Community Events</h3>
                    <p class="text-gray-500 text-justify font-medium text-sm mt-5">&nbsp;&nbsp;&nbsp;Engage with a community of like-minded individuals through our curated events. From skill-sharing workshops to local excursions, enhance your network and experiences.</p>
                </div>
            </div>
            <div class="sm:basis-1/2 md:basis-1/4 p-5">
                <div class="p-10 h-full text-center bg-white rounded-xl">
                    <Icon name="game-icons:horizon-road" class="text-blue-600 text-6xl"/>
                    <h3 class="text-xl font-bold mt-2">Local Immersion</h3>
                    <p class="text-gray-500 text-justify font-medium text-sm mt-5">&nbsp;&nbsp;&nbsp;Stay in locations deeply connected to their surroundings. Explore local culture, cuisines, and traditions with the aid of our community-driven guides.</p>
                </div>
            </div>
            <div class="sm:basis-1/2 md:basis-1/4 p-5">
                <div class="p-10 h-full text-center bg-white rounded-xl">
                    <Icon name="mdi:calendar-check-outline" class="text-blue-600 text-6xl"/>
                    <h3 class="text-xl font-bold mt-2">Seamless Booking</h3>
                    <p class="text-gray-500 text-justify font-medium text-sm mt-5">&nbsp;&nbsp;&nbsp;Our user-friendly platform ensures easy booking, from property selection to payment. Additionally, our support team is always on hand to assist with any inquiries.</p>
                </div>
            </div>
        </div>
    </div>
  </div>
</template>