<template>
    <div class="relative mt-20 px-5 md:px-0" id="hero">
        <div class="hidden absolute inset-0 lg:block w-1/2 ml-auto bg-sky-50 rounded-tl-3xl z-[-1]"></div>
        <div class="container mx-auto z-2">
            <div class="flex flex-wrap">
                <div class="basis-full md:basis-1/2 lg:basis-1/2 flex flex-col items-start justify-center">
                    <h1 class="text-[36px] font-bold max-w-lg">Welcome to <span class="text-blue-700 text-5xl">Nomad Nests</span>: Where Work Meets Wanderlust</h1>

                    <h2 class="mt-10 max-w-md">Discover unique stays tailored for digital nomads. Each property comes equipped with coworking spaces and vibrant community events to inspire collaboration and connection.</h2>

                    <button class="bg-blue-700 rounded-lg py-3 px-5 text-white mt-10 font-bold mx-auto md:mx-0">Get Started</button>
                </div>
                <div class="basis-full md:basis-1/2 lg:basis-1/2 lg:px-20 lg:py-40 md:px-10 md:py-20 py-5 px-10">
                    <img src="@/assets/img/hero.png">
                </div>
            </div>
        </div>
    </div>
</template>