<template>
    <div class="relative" id="testimonials">
        <div class="absolute w-full z-[-1]">
            <img src="@/assets/img/testimonialsBackground.svg" class="w-full" alt="Testimonials" />
        </div>
        
        <div class="container mx-auto py-20">
            <div class="max-w-md mx-auto text-center px-5 md:px-0">
                <Icon name="fa:quote-left" class="text-blue-600 text-6xl"/>
                <h2 class="text-black text-4xl font-bold mt-5">Hear from Our Global Community of <span class="text-blue-700 font-black">Nomads</span></h2>
                <p class="text-stone-400 font-medium mt-3">Our properties and services have left lasting impressions. Dive into the experiences of digital nomads who've found a unique blend of work and adventure with us.</p>
            </div>

            <div class="flex flex-wrap mt-5">
                <div class="sm:basis-1/2 md:basis-1/3 p-5">
                    <div class="p-10 h-full text-center bg-white rounded-xl shadow-md">
                        <div class="flex flex-row items-center justify-start">
                            <img src="@/assets/img/t1.png" class="rounded-full w-20 h-20" alt="Testimonial 1" />
                            <div class="flex flex-col items-start justify-center ml-5">
                                <h3 class="text-xl font-bold">Michael Torres</h3>
                                <p class="text-blue-600 text-sm font-medium">UX Designer</p>
                            </div>
                        </div>
                        <p class="text-gray-500 text-justify font-medium text-sm mt-5 leading-loose">&nbsp;&nbsp;&nbsp;From the breathtaking views to the dedicated workspaces, my stay was nothing short of incredible. The community events added a layer of depth to my journey, making me feel connected even in a new land.</p>
                    </div>
                </div>
                <div class="sm:basis-1/2 md:basis-1/3 p-5">
                    <div class="p-10 h-full text-center bg-white rounded-xl shadow-md">
                        <div class="flex flex-row items-center justify-start">
                            <img src="@/assets/img/t2.png" class="rounded-full w-20 h-20" alt="Testimonial 1" />
                            <div class="flex flex-col items-start justify-center ml-5">
                                <h3 class="text-xl font-bold">Benjamin Osei</h3>
                                <p class="text-blue-600 text-sm font-medium">Content Creator</p>
                            </div>
                        </div>
                        <p class="text-gray-500 text-justify font-medium text-sm mt-5 leading-loose">&nbsp;&nbsp;&nbsp;The ease of booking and the attentive support team made my transition seamless. The local immersion activities provided a perfect break from work. Truly a game-changer!</p>
                    </div>
                </div>
                <div class="sm:basis-1/2 md:basis-1/3 p-5">
                    <div class="p-10 h-full text-center bg-white rounded-xl shadow-md">
                        <div class="flex flex-row items-center justify-start">
                            <img src="@/assets/img/t3.png" class="rounded-full w-20 h-20" alt="Testimonial 1" />
                            <div class="flex flex-col items-start justify-center ml-5">
                                <h3 class="text-xl font-bold">Aisha Patel</h3>
                                <p class="text-blue-600 text-sm font-medium">Digital Marketing Specialist</p>
                            </div>
                        </div>
                        <p class="text-gray-500 text-justify font-medium text-sm mt-5 leading-loose">&nbsp;&nbsp;&nbsp;Nomad Nests has reshaped the way I perceive work-travels. Their co-working spaces are top-notch, and the opportunity to mingle with fellow nomads is invaluable.</p>
                    </div>
                </div>
                <div class="sm:basis-1/2 md:basis-1/3 p-5">
                    <div class="p-10 h-full text-center bg-white rounded-xl shadow-md">
                        <div class="flex flex-row items-center justify-start">
                            <img src="@/assets/img/t4.png" class="rounded-full w-20 h-20" alt="Testimonial 1" />
                            <div class="flex flex-col items-start justify-center ml-5">
                                <h3 class="text-xl font-bold">Rodrigo Gomez</h3>
                                <p class="text-blue-600 text-sm font-medium">Software Engineer</p>
                            </div>
                        </div>
                        <p class="text-gray-500 text-justify font-medium text-sm mt-5 leading-loose">&nbsp;&nbsp;&nbsp;I've always struggled with finding places that cater to my professional needs while traveling. This platform bridges that gap perfectly. The Wi-Fi is fast, and the work environment is motivating.</p>
                    </div>
                </div>
                <div class="sm:basis-1/2 md:basis-1/3 p-5">
                    <div class="p-10 h-full text-center bg-white rounded-xl shadow-md">
                        <div class="flex flex-row items-center justify-start">
                            <img src="@/assets/img/t5.png" class="rounded-full w-20 h-20" alt="Testimonial 1" />
                            <div class="flex flex-col items-start justify-center ml-5">
                                <h3 class="text-xl font-bold">Emily Chen</h3>
                                <p class="text-blue-600 text-sm font-medium">Freelance Writer</p>
                            </div>
                        </div>
                        <p class="text-gray-500 text-justify font-medium text-sm mt-5 leading-loose">&nbsp;&nbsp;&nbsp;Being a part of this community has been a revelation. From the curated events to the camaraderie of other digital nomads, every moment has been enriching.</p>
                    </div>
                </div>
                <div class="sm:basis-1/2 md:basis-1/3 p-5">
                    <div class="p-10 h-full text-center bg-white rounded-xl shadow-md">
                        <div class="flex flex-row items-center justify-start">
                            <img src="@/assets/img/t6.png" class="rounded-full w-20 h-20" alt="Testimonial 1" />
                            <div class="flex flex-col items-start justify-center ml-5">
                                <h3 class="text-xl font-bold">Priyanka Mehta</h3>
                                <p class="text-blue-600 text-sm font-medium">Data Analyst</p>
                            </div>
                        </div>
                        <p class="text-gray-500 text-justify font-medium text-sm mt-5 leading-loose">&nbsp;&nbsp;&nbsp;Being a remote worker, I often felt isolated during my travels. The community events organized by Nomad Nests rekindled my love for networking and introduced me to some amazing fellow travelers.</p>
                    </div>
                </div>
            </div>

            <div class="text-center">
                <button class="bg-blue-500 rounded-lg py-3 px-5 text-white mt-10 font-bold text-sm" @click="openInNewTab('https://www.google.com')">Show More</button>
            </div>

        </div>

    </div>
</template>

<script>
    export default {
        data () {
            return {

            }
        },
        mounted () {

        },
        methods : {
            openInNewTab(url) {
                // Check if the URL is not empty
                if (url.trim() !== '') {
                    // Open the URL in a new tab
                    window.open(url, '_blank');
                } else {
                    alert('Please enter a valid URL.');
                }
            }
        }
    }
</script>