<template>
    <div>

        <div class="container mx-auto my-4 flex flex-row items-center justify-center md:justify-start">
            <div class="flex flex-row items-center">
                <img src="@/assets/img/logo.png" alt="Nomad Nests Logo" style="max-height: 60px; width: auto;" />
                <h1 class="text-[26px] font-bold pl-4 text-stone-800">Nomad Nests</h1>
            </div>

            <div class="pl-40 hidden lg:block">
                <button class="px-5 py-3 mx-3 text-stone-900 font-medium hover:text-stone-700 hover:bg-stone-100 rounded transition-colors" @click="jumpToSection('#hero');">Home</button>
                <button class="px-5 py-3 mx-3 text-stone-900 font-medium hover:text-stone-700 hover:bg-stone-100 rounded transition-colors" @click="jumpToSection('#features');">Features</button>
                <button class="px-5 py-3 mx-3 text-stone-900 font-medium hover:text-stone-700 hover:bg-stone-100 rounded transition-colors" @click="jumpToSection('#testimonials');">Testimonials</button>
            </div>
        </div>
        
    </div>
</template>

<script>
    export default {
        data () {
            return {

            }
        },
        methods : {
            jumpToSection(selector) {
                const element = document.querySelector(selector);
                if (element) {
                    element.scrollIntoView({ behavior: 'smooth' });
                }
            }
        },
    }
</script>