<template>
    <div>

        <headerPage></headerPage>
        <homeHero></homeHero>
        <homeFeatures></homeFeatures>
        <homeTestimonials></homeTestimonials>

    </div>
</template>

<style scoped>
    h1 {
        color: red;
        font-weight: 400;
    }
</style>